/* Write your CSS here */
body {
	background-color: #ffeadb;
	font-family: Source Sans Pro;
	text-align: center;
}

h1 {
  	color: #FFBABA;
  	font-weight: lighter;
  	font-size: 50px;
 }

 h3 {
  font-family: Source Sans Pro;
  color: #FFBABA;
  font-weight: lighter;
  font-size: 30px;

}

#banner {
  text-align: center;
  background-image: url("https://unsplash.com/s/photos/cactus");
  background-size: cover;
  padding: 150px;
  color: white;
}

#banner img {
  border: 5px solid white;
}

#banner h1 {
  font-size: 50px;
  text-shadow: 3px 3px #678A74;
}

#banner p {
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}

.btn {
  text-decoration: none;
  background-color: #F18805;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 15px 20px;
}

.btn:hover {
  background-color: #613F75;
  opacity: 0.8;
  border: 2px solid white;
}

.card {
  padding: 50px;
  font-weight: lighter;
}

#footer {
  margin-top: 15px;
  padding: 10px 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}

.cards {
  margin: 15px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 1000px;
}

/*les écrans de largeur inférieure à 992 pixels*/
@media(max-width: 992px){
  .cards{
  width: 750px;
  }
}

/*les écrans de largeur inférieure à 768 pixels*/
@media(max-width: 768px){
  .cards{
  width: 90%;
  grid-template-columns: 1fr;
  }
}